* {
    box-sizing: border-box;
  }
  
body {
    background-image: url("https://images.freeimages.com/images/large-previews/4dc/free-casino-table-cloth-texture-1637741.jpg");
    margin: 0;
    font-family: 'Chakra Petch', sans-serif;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 3fr 1fr 2.5fr 0.5fr;
}
  
h1 {
    color: white;
    font-size: 80px;;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: underline 2px white;
    text-underline-offset: 7px;
}

dealer {
    color: white;
    display: flex;
    grid: span 1;
    justify-content: center;
    align-items: center;
}

#dealer {
    font-size: 25px;
    margin-top: -50px;
}

#dealer-hand-score {
    font-size: 25px;
    margin-left: 20px;
    margin-top: -50px;
}
  
cards {
    display: flex;
    grid: span 2;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

#dealercards {
    margin-bottom: -60px;
    margin-top: -40px;
}

#playercards {
    margin-top: 30px;
    margin-bottom: -80px;
}
    
player {
    color: white;
    display: flex;
    grid: span 1;
    justify-content: center;
    align-items: center;
}

#player {
    font-size: 25px;
    margin-bottom: -40px;
}

#player-hand-score {
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: -40px;
}

hitStay {
    display: flex;
    grid: span 1;
    justify-content: space-evenly;
    align-items: center;
}

#hit, #stay {
    display: flex;
    align-items: center;
    font-size: 55px;
    background-image: linear-gradient(red, darkred);
    color: white;
    justify-content: space-evenly;
    border-radius: 25%;
    font-family: 'Chakra Petch', sans-serif;
    border: solid 3px checkered;
}

bottom {
    color: white;
    display: flex;
    grid: span 1;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
}

fieldset {
    font-size: 30px;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: -20px;
    background-image: linear-gradient(transparent, darkgreen);
    border-color: black;
}

#first, #second, #third {
    font-size: 25px;
    background-color: red;
    color: white;
    justify-content: space-evenly;
    border-radius: 50%;
    font-family: 'Chakra Petch', sans-serif;
    border: solid 3px checkered;
}

#low, #mid, #high {
    font-size: 25px;
    background-color: red;
    color: white;
    justify-content: space-evenly;
    border-radius: 50%;
    font-family: 'Chakra Petch', sans-serif;
    border: solid 3px checkered;
}

footer {
    display: flex;
    grid: span 1;
    background-image: url("https://www.scu.edu/media/portals/illuminate/images/Illuminate-philkesten-header-30-1160x386.jpeg");
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 125px;
}

#play {
    font-size: 50px;
    border-radius: 25%;
    font-family: 'Chakra Petch', sans-serif;
    background-image: linear-gradient(red, darkred);
    color: white;
    border: solid 3px checkered;
}

#low:hover, #mid:hover, #high:hover, #first:hover, #second:hover, #third:hover {
    background-color: darkred;
    color: silver;
}

#play:hover {
  background-image: linear-gradient(darkred,red);
  color: silver
}

#play-again {
    font-size: 50px;
    border-radius: 25%;
    font-family: 'Chakra Petch', sans-serif;
    background-image: linear-gradient(red, darkred);
    color: white;
    border: solid 3px checkered;
}

#play-again:hover {
    background-image: linear-gradient(darkred,red);
    color: silver
}

footer > button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}